<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyRLAMENT</title>
</head>
<body style="text-align: center">
<img src="{{url_for('static', filename='img/pyRLAMENT_logo.svg')}}" alt="pyRLAMENT" />
<br/>
{% set color="gray" %}
{% set textcolor="lightgray" %}
<svg width="1122" height="841" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     overflow="hidden">
    <g clip-path="url(#clip0)" transform="translate(0 50)">
    {% for seat in seats %}
    <circle r="9" stroke="black" stroke-width="1" fill="{{ seat.fill }}" cx="{{ seat.cx }}" cy="{{ seat.cy }}">
        <title>{{ seat.number }}</title>
    </circle>
    <text font-family="Helvetica, sans-serif" font-size="0.4em" x="{{ seat.cx }}" y="{{ seat.cy }}" text-anchor="middle" stroke="{{ seat.color }}" fill="{{ seat.color }}" stroke-width="0.1" dy=".3em" stroke-opacity="0.3">{{ seat.number }}</text>
    {% endfor %}
    </g>
</svg>
</body>
</html>
